rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to the 'pelanggan' collection for demo purposes.
    // In a production environment, you should secure these rules, for example:
    // allow read, write: if request.auth != null;
    match /pelanggan/{document=**} {
      allow read, write: if true;
    }
  }
}
